button {
  margin-left: 10px;
}

td {
  font-weight: 800;
  font-size: 2em;
  border: 1px solid #bdbdbd !important;
  text-align: center;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
}
